* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
	background-color: black;
	color: white;
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif; 
  margin: 0;
  padding: 0;
}

body {
  padding: 0.5rem;
  background: black;
}

/* TYPE */

.main {
  position: relative;
  margin: 0 auto;
  margin-top: 0.8rem;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 700;
}

.huge {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 3rem;
}

.response {
  margin: 0;
}

#AllFeedback {

}

.feedbackBlock {
  line-height: 4rem;
  margin-bottom: 4rem;
  color: white;
}

#sadiePNG {
  width: 100%;
}


@media screen and (max-width: 800px){
  #sadie {
    display: block;
    margin: 0px auto;
    width: 30%;
  }
}

@media screen and (min-width: 800px) {
  .main {
    width: 800px;
    margin-top: 4rem;
    font-size: 5rem;
    z-index: 
  }
  .huge{
    margin: 0;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  .response {
    font-size: 4rem;
  }

  #feedbackInput {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  #sadie {
    position: fixed;
    width: 18rem;
  }
}


/* FORMS */

.adminInput {
  margin: 0;
  font-size: 1.6rem;
  background: black;
  border-bottom: solid;
  float: right;
  display: none;
}

.adminInput.open {
  display: block;
  border-bottom: solid white;
  color: #ed1e58;
}

#feedbackInput {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  width: 80%;
  background: black;
  border-bottom: solid;
}

input[type=text] {
  font-size: 2.5rem;
  font-family: inherit;
  font-weight: 700;
  margin: 0;
  color: white;
  border: none;
}

input[type=text]:focus {
  outline: none;
}



