* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
	background-color: black;
	color: white;
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif; 
  margin: 0;
  padding: 0;
}

body {
  padding: 0.5rem;
}

/* TYPE */

p.huge {
  font-size: 4rem;
  margin: 0;
  line-height: 4rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.list {
  list-style-type: none;
}

.response {
  margin: 0;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.usr {
  margin: 0;
  font-size: 3.5rem;
  display: inline-block;
}

.input {
  margin: 0;
  margin-left: 2rem;
  display: inline-block;
  font-size: 2.8rem;
}


/* FORMS */

input[type=text] {
  font-size: 4rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1em;
  padding: 1rem;
  margin: 0;
  background: grey;
  color: white;
  border: none;
}

input[type=text]:focus {
  outline: none;
}

