* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
	background-color: black;
	color: white;
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif; 
  margin: 0;
  padding: 0;
}

body {
  padding: 0.5rem;
}

/* TYPE */

.main {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin-top: 8rem;
  font-size: 2rem;
  /*margin-left: 25rem;*/
  font-weight: 675;
  float: right;
}

p.huge {
  font-size: 5rem;
  margin: 0;
  line-height: 4rem;
  font-weight: 700;
  margin-bottom: 4rem;
  /*float: right;*/
}

.response {
  margin: 0;
  margin-top: 2rem;
  /*display: inline-block;*/
  font-size: 4rem;
}

.side {
  height: 50rem;
  width: 25rem;
  display: inline-block;
}

#sadie {
  width: 100%;
  z-index: -1;
}

/*#feedbackBlock {
  margin: 0;

}*/

#feedbackInput {
  width: 55rem;
  background: black;
  backgroundColor: black;
}


/* FORMS */

input[type=text] {
  font-size: 4rem;
  font-family: inherit;
  font-weight: 675;
  line-height: 1em;
  margin: 0;
  /*background: blue;*/
  color: white;
  border: none;
}

input[type=text]:focus {
  outline: none;
}

